<div id="topic">
    <%= link_to 'New Topic', new_topic_path, :class => "button_link" %>
    <table id="topic_index_table">
      <tbody>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Body</th>
          <th>Display on Home Screen</th>
          <th colspan="3">Tasks</th>
        </tr>

      <% @topics.each do |topic| %>
        <tr class="<%= topic.visible? ? 'active_topic' : 'deactive_topic' %>">
          <td class="row_icon"><%= image_tag topic.icon.url :iphone %></td>
          <td class="row_title"><%= topic.title %></td>
          <td class="row_title"><%= truncate(sanitize(topic.body)) %></td>
          <td class="row_root"><%= sanitize format_display_option(topic.root?) %></td>
          <td><%= link_to 'Show', topic %></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @posts %>
</div>