<!DOCTYPE html>
<html>
<head>
  <title>Teach</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="top_bar">
    <div id="horizontal_nav_wrapper">
      <div id="horizontal_nav" class="main_column">
        <%= link_to "Home", root_path %> |
        <%= link_to "Topics", root_path %>
      </div>
    </div>
  </div>
<div id="content" class="main_column">
  <%= yield %>
</div>

</body>
</html>
