<!DOCTYPE html>
<html>
<head>
  <title>Teach</title>
  <%= javascript_include_tag "jquery" %>
  <script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
  <script type="text/javascript" src="/markitup/sets/html/set.js"></script>
  <link rel="stylesheet" type="text/css" href="/markitup/skins/markitup/style.css" />
  <link rel="stylesheet" type="text/css" href="/markitup/sets/html/style.css" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="top_bar">
    <% if logged_in? %>
    <div id="horizontal_nav_wrapper">
      <div id="horizontal_nav" class="main_column">
        <%= link_to "Topics", root_path %> |
        <%= link_to "Log out", log_out_path %>
      </div>
    </div>
    <% end %>
  </div>
<div id="content" class="main_column">
  <%= yield %>
</div>

</body>
</html>
